.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 0 4px 10px gray;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}