.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 20px auto;
  width: 80%;
}

.card:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
img{
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 768px) {

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  p {
    font-size: 16px;
  }

  button {
    width: 100%;
    margin-top: 5px;
  }

  .container {
    padding: 10px;
  }
}